@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem;
  width: 100vw;
}

.Navbar__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
  font-size: 6rem;
}

a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}
.Main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.Main__center {
  display: flex;
  width: 70vw;
  gap: 4rem;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.Content__image {
  width: fit-content;
  height: fit-content;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  width: 25vw;
  background-color: black;
  color: white;
}

.sidebar__details {
  padding: 0 3rem;
}

.Sidebar h2 {
  font-size: 6rem;
  color: hsl(35, 77%, 62%);
  padding-top: 4rem;
}

.Sidebar h3 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
  color: hsl(36, 100%, 99%);
}

.Sidebar p {
  font-size: 2.3rem;
  color: hsl(236, 13%, 42%);
  padding-bottom: 5rem;
}
.sidebar__details__border {
  border-bottom: 0.1rem solid hsl(36, 100%, 99%);
}

.Content__text {
  display: flex;
  flex-direction: row;
  width: 50vw;
  gap: 20rem;
}

.Content__text__heading {
  font-size: 10rem;
  width: 20vw;
  margin: 2rem 0;
  font-weight: 900;
}

.Content__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Content__text__details {
  font-size: 3rem;
  line-height: 4rem;
  width: 23vw;
  color: hsl(236, 13%, 42%);
}

.btn {
  width: fit-content;
  height: fit-content;
  color: white;
  background-color: hsl(5, 85%, 63%);
  padding: 3rem 8rem;
  margin-top: 6rem;
}
.btn p {
  font-size: 3rem;
  letter-spacing: 0.7rem;
  text-align: center;
}

.Blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.Blog__wrapper {
  display: flex;
  flex-direction: row;
  width: 70vw;
  margin-top: 9rem;
  gap: 20rem;
}

.Blog__article {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.Blog__main__heading {
  font-size: 5rem;
  color: hsl(233, 8%, 79%);
  margin: 1rem 0;
}

.Blog__second__heading {
  font-size: 2.5rem;
  color: hsl(240, 100%, 5%);
  margin-bottom: 1rem;
}

.Blog__details {
  font-size: 2rem;
  color: hsl(233, 8%, 79%);
  line-height: 3rem;
}
